@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;

.categories {
  &__headline {
    text-align: center;
    color: var(--font-dark-300);
    margin-top: 4rem;
    font-size: ft.$fs-400;
  }
  &__container-input {
    padding: 1rem;
  }
  &__input {
    width: 100%;
    color: var(--font-dark-600);
    padding: 1.2rem 1rem;
    background: var(--light-bg-600);
    border: 1px solid clr.$main-bg-500;
    font-size: ft.$fs-250;
  }
  &__input::placeholder {
    font-size: ft.$fs-250;
  }
  &__container {
    padding: 1rem;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    border-bottom: 2px solid var(--light-bg-700);
  }
  &__single-category {
    background: var(--light-bg-600);
    color: var(--font-dark-600);
    margin: 1rem;
    text-align: center;
    padding: 0.5rem;
    font-size: ft.$fs-250;
    min-width: 15rem;
    max-width: 20rem;
    border-radius: 1rem;
  }
  &__total {
    font-size: ft.$fs-200;
    color: var(--font-dark-300);
  }
  &__btn {
    background: transparent;
    color: clr.$main-bg-500;
    border: none;
  }
  &__posts {
    margin-top: 4rem;
  }
}
