@use '../abstracts/colors' as clr;
@use '../abstracts/variables' as var;
@use '../abstracts/fontSizes' as ft;
@use '../components/button' as btn;

.comments {
  background: var(--light-bg-600);
  z-index: 5;
  height: 75vh;
  overflow-y: scroll;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 10px 10px 0 0;
  // margin-bottom: 20rem;

  &__input {
    position: fixed;
    bottom: 0;
    background-color: red;
  }
}
// .comment:last-child {
//   margin-bottom: 20rem;
// }
