.comment {
  background-color: #e7e7e7;
  margin-top: 1rem;
  padding: 0.5rem;

  &__author {
    display: flex;
    align-items: center;
  }
  &__author-image {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 100%;
    margin-right: 0.5rem;
  }
  &__action {
    display: flex;
    align-items: center;
  }
  &__btn {
    background: transparent;
    border: none;
  }
  .fa-star {
    color: inherit;
  }
}
