@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../components/button' as btn;

.details {
  &__header {
    margin: 2rem 1rem;
  }
  &__section {
    border-bottom: 1px solid var(--light-bg-700);
    margin: 0 auto;
  }
  &__personal-section {
    padding: 1rem;
    background: var(--light-bg-600);
    color: var(--font-dark-600);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__description {
    color: var(--font-dark-300);
    font-size: ft.$fs-200;
  }
  &__value {
    margin-left: 2rem;
    font-size: ft.$fs-200;
  }
  &__btn {
    padding: 0.5rem 1rem;
    font-size: ft.$fs-300;
    color: clr.$main-bg-500;
    background: transparent;
    border: none;
  }
  &__btn--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  &__update-btn {
    @include btn.btn();
    font-size: ft.$fs-250;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
  .blurred__content {
    width: 80vw;
  }
  &__popup {
    position: relative;
    background: var(--light-bg-600);
    padding: 1rem;
    width: 100%;
  }
  &__input {
    width: 100%;
    background: transparent;
    border: 2px solid clr.$main-bg-500;
    padding: 0.5rem;
    color: var(--font-dark-600);
    font-size: ft.$fs-250;
    margin-bottom: 1rem;
  }
  &__input::placeholder {
    font-size: ft.$fs-200;
  }
  &__error {
    color: clr.$warning-500;
    text-align: center;
  }
  &__date,
  &__preferences {
    background-color: var(--light-bg-600);
    padding: 1rem;
    margin: 2rem 0;
  }
  &__date-marked {
    color: clr.$main-bg-500;
  }
  &__heading {
    color: var(--font-dark-300);
  }
  &__single-option {
    display: flex;
    align-items: center;
  }
  &__single-description {
    margin-right: 3rem;
    color: var(--font-dark-600);
    font-size: ft.$fs-200;
  }
  &__btn--remove {
    @include btn.btn();
    font-size: ft.$fs-250;
    display: block;
    margin: 1rem auto;
  }
}
