@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../abstracts/media' as qr;
@use '../abstracts/variables' as var;

.post {
  background: clr.$light-bg-600;
  max-width: 400px;
  width: 100%;
  margin-bottom: 2rem;
  background: var(--background);

  &__headline {
    margin-top: 2rem;
    margin-left: 2px;
    font-size: ft.$fs-300;
  }
  &__image-container {
    width: 100%;
    height: auto;
  }
  &__image {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
  }
  &__author {
    display: flex;
    align-items: center;
    padding: var.$padding-around-post;
    padding-top: 1rem;
  }
  &__author-name {
    font-size: ft.$fs-200;
    font-weight: ft.$fw-600;
    color: clr.$font-dark-600;
    margin: 0;
    font-size: ft.$fs-250;
  }
  &__image-author {
    border-radius: 100%;
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;
  }
  &__content {
    padding: var.$padding-around-post;
  }
  &__type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    color: clr.$font-dark-400;
    margin: 0;
    padding-top: 0.5rem;
    font-size: ft.$fs-200;
  }
  &__category-name {
    font-weight: ft.$fw-600;
    color: clr.$font-dark-600;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    padding: var.$padding-around-post;
  }
  &__container-likes {
    display: flex;
    align-items: center;
  }
  &__btn {
    border: none;
    background-color: transparent;
    font-size: ft.$fs-400;
    padding: 0;
    color: inherit;
  }
  &__comments--count {
    text-align: center;
    padding: 1rem 0;
    margin: 2rem 1rem;
    border-top: 2px solid clr.$light-bg-700;
  }
  &__comments-text {
    margin: 0 0 0.5rem;
    font-weight: ft.$fw-600;
    font-size: ft.$fs-200;
  }
  &__comments-total {
    color: clr.$font-active-500;
  }
  &__likes {
    margin: 0 0.5rem;
    padding-top: 0.25rem;
    font-size: ft.$fs-300;
    color: inherit;
    font-weight: ft.$fw-600;
  }
  &__wrapper {
    background: clr.$light-bg-600;
    margin: 2rem 0;
    padding: 1rem;
  }
  &__container-input {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
  }
  &__input {
    width: 100%;
    border: 2px solid clr.$light-bg-800;
    border-radius: 100rem;
    background: transparent;
    padding: 1rem;
    font-size: ft.$fs-200;
  }
  &__input::placeholder {
    color: clr.$font-dark-600;
  }
  &__top-comment {
    padding: var.$padding-around-post;
    font-size: ft.$fs-200;
    color: clr.$font-dark-400;
    margin-top: 2rem;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
  }
  &__top-author {
    font-weight: ft.$fw-600;
  }

  .fa-star {
    color: inherit;
    font-size: ft.$fs-400;
  }
  &__single-action {
    font-size: ft.$fs-250;
    margin: 0 0.5rem;

    .fa-share {
      font-size: ft.$fs-250;
      margin-left: 0.3rem;
    }
  }
  &__count-comments {
    margin-right: 0.3rem;
  }
}

.post:last-child {
  margin-bottom: 10rem;
}
