@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../abstracts/media' as qr;
@use '../abstracts/variables' as var;

.post {
  background: clr.$light-bg-600;
  margin-bottom: 1rem;
  max-width: 400px;

  &__image-container {
    width: 100%;
    height: auto;
  }
  &__image {
    width: 100%;
    min-height: 300px;
    max-height: 500px;
  }
  &__author {
    display: flex;
    align-items: center;
    padding: var.$padding-around-post;
    margin-top: 1rem;
  }
  &__author-name {
    font-size: ft.$fs-200;
    font-weight: ft.$fw-600;
    color: clr.$font-dark-600;
    margin: 0;
  }
  &__image-author {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
  &__content {
    padding: var.$padding-around-post;
  }
  &__type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    color: clr.$font-dark-400;
    margin: 0;
    padding-top: 0.5rem;
  }
  &__category-name {
    font-weight: ft.$fw-600;
    color: clr.$font-dark-600;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: var.$padding-around-post;
  }
  &__container-likes {
    display: flex;
    align-items: center;
  }
  &__btn {
    border: none;
    background-color: transparent;
    font-size: ft.$fs-400;
    padding: 0;
    color: inherit;
  }
  &__comments--count {
    text-align: center;
    padding: 1rem 0;
  }
  &__comments-text {
    margin: 0 0 0.5rem;
    font-weight: ft.$fw-600;
    font-size: ft.$fs-200;
  }
  &__comments-total {
    color: clr.$font-active-500;
  }
  &__likes {
    margin: 0 0.5rem;
    padding-top: 0.25rem;
    font-size: ft.$fs-300;
    color: inherit;
  }
  &__container-input {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
  &__input {
    width: 100%;
    padding: 0.5rem;
  }
  &__top-comment {
    padding: var.$padding-around-post;
    font-size: ft.$fs-200;
    color: clr.$font-dark-400;
    margin-top: 2rem;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
  }
  &__top-author {
    font-weight: ft.$fw-600;
  }
  &__top-text {
    color: clr.$font-dark-600;
  }
  .fa-star {
    color: inherit;
  }
}

.post:first-child {
  margin-top: 1rem;
}
