@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../components/button' as btn;

.profile {
  max-width: 45rem;
  min-width: 20rem;
  background-color: var(--light-bg-600);
  max-height: 50vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    color: var(--font-dark-300);
  }
  &__title {
    margin: 0;
    padding-block: 1rem;
    font-size: ft.$fs-300;
    font-weight: ft.$fw-500;
    text-align: left;
    color: inherit;
  }
  &__btn--update {
    @include btn.btn();
    font-size: ft.$fs-250;
    min-width: calc(100% - 2rem);
    margin: 1rem;
    padding: 0.5rem;
  }
  &__btn--close {
    border: none;
    background: transparent;
    font-size: ft.$fs-250;
    color: inherit;
    cursor: pointer;
  }
  &__btn--close:hover {
    transform: scale(1.1);
    color: var(--main-bg-500);
  }

  .ReactCrop {
    border-block: 1px solid var(--light-bg-700);
  }
}
