@use '../abstracts/colors' as clr;
@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.blurred {
  &__options {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'center';
    z-index: 3;
  }
  &__blurred-bg {
    background-color: rgba(var(--secondary-bg-600), 0.8);
    z-index: 2;
    width: 100vw;
    height: 100vh;
    grid-area: center;
  }
  &__option {
    @include mix.border();
    min-width: var.$form-width;
    max-width: 450px;
    grid-area: center;
    background: var(--light-bg-500);
    align-self: center;
    justify-self: center;
    padding: 2rem;
    border-radius: 3px;
    z-index: 3;
  }
}
