@use '../abstracts/colors' as clr;
@use '../abstracts/variables' as var;

.blurred {
  &__options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'center';
  }
  &__blurred-bg {
    background: rgba(var(--secondary-bg-600), 0.8);
    width: 100vw;
    height: 100vh;

    grid-area: center;
  }
  &__option {
    min-width: var.$form-width;
    max-width: 450px;
    grid-area: center;
    background: var(--light-bg-500);
    align-self: center;
    justify-self: center;
    padding: 2rem;
    border-radius: 3px;
    border: 1px solid var(--light-bg-600);
    z-index: 5;
  }
}
