@use '../abstracts/colors' as clr;
@use '../abstracts/variables' as var;
@use '../abstracts/fontSizes' as ft;
@use '../components/button' as btn;

.crop-image {
  &__canvas-wrapper {
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__controls-wrapper {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__aspect--action {
    @include btn.btn();
    font-size: ft.$fs-250;
    border-radius: 100rem;
    padding: 0.4rem 1rem;
  }
  &__info {
    text-align: center;
    color: var(--font-dark-600);
    font-size: ft.$fs-250;
  }
  &__preview-canvas {
    max-height: 50vh;
    max-width: 100%;
  }
  &__text {
    font-size: ft.$fs-250;
    color: var(--font-dark-600);
  }
  &__pseudo-btn {
    color: clr.$main-bg-500;
    font-weight: ft.$fw-600;
  }
  &__drag-drop {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px dashed var(--secondary-bg-300);
    border-radius: 3px;
    margin-bottom: 1rem;
  }
  &__canvas {
    position: relative;
    overflow-y: scroll;
  }
  &__open--crop {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 0.5rem 0.5rem 1.5rem 1.5rem;
    background: var(--secondary-bg-500);
    border: none;
    border-radius: 0 0 0 10rem;
    .fa-crop-alt {
      font-size: ft.$fs-400;
      color: var(--font-light-100);
    }
  }
  &__buttons {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__btn {
    @include btn.btnEmpty(var(--font-dark-600));
    font-size: ft.$fs-250;
    margin: 0;
    padding: 0.5rem;
  }
  &__btn--full {
    @include btn.btn();
  }
}
