@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../abstracts/media' as qr;
@use '../abstracts/variables' as var;

.header {
  background-color: clr.$light-bg-500;
  border-bottom: 1px solid clr.$light-bg-700;

  padding: 1rem;

  position: sticky;
  top: 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__message {
    margin: 0;
  }
  &__nav-button {
    width: 3rem;
    height: 3rem;
    background: clr.$main-bg-300;
    border: none;
    border-radius: 100rem;
  }

  &__menu {
    background-color: clr.$main-bg-200;
    min-height: 450px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
