@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../abstracts/media' as qr;
@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

.header {
  background-color: var(--light-bg-500);
  @include mix.border('-bottom');
  padding: 1rem;

  position: sticky;
  width: 100%;
  top: 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__message {
    margin: 0;
  }
  &__nav-button {
    border: none;
    border-radius: 100rem;
    background: transparent;
    color: var(--font-dark-600);
    font-size: ft.$fs-400;
    .fa-bell {
      color: inherit;
    }
  }

  &__menu {
    background-color: clr.$main-bg-200;
    min-height: 450px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
