@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: var(--light-bg-500);
  justify-content: space-between;
  padding: 1rem 2rem;
  border-top: 1px solid var(--light-bg-700);

  &__item {
    font-size: ft.$fs-400;
    background: transparent;
    border: none;
  }
  &__item--link {
    color: inherit;
  }
}
