@use '../abstracts/colors' as clr;
@use '../abstracts/fontSizes' as ft;
@use '../abstracts/mixins' as mix;

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: var(--light-bg-500);
  justify-content: space-between;
  padding: 1rem 2rem;
  @include mix.border('-top');
  color: var(--font-dark-600);

  &__item {
    font-size: ft.$fs-400;
    background: transparent;
    border: none;
  }
  &__item--link {
    color: inherit;
  }
}
