html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background: var(--light-bg-500);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-dark-600);
  font-weight: 500;
  margin: 1rem 0;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.9rem;
}

.header {
  background-color: var(--light-bg-400);
  border-bottom: 1px solid var(--light-bg-700);
  padding: 1rem;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__message {
  margin: 0;
}
.header__nav-button {
  border: none;
  border-radius: 100rem;
  background: transparent;
  color: var(--font-dark-600);
  font-size: 2.1rem;
}
.header__nav-button .fa-bell {
  color: inherit;
}
.header__menu {
  background-color: #d3c2f5;
  min-height: 450px;
  position: absolute;
  right: 0;
  top: 0;
}

.auth-form {
  display: grid;
  align-content: center;
  width: 350px;
  margin-bottom: 2rem;
}
.auth-form__wrapper {
  margin-bottom: 3rem;
  position: relative;
}
.auth-form__label {
  color: var(--font-dark-600);
  position: absolute;
  pointer-events: none;
  transition: 400ms;
}
.auth-form__input {
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid #753ee0;
  border-radius: 3px;
  background: var(--light-bg-550);
  color: var(--font-dark-600);
}
.auth-form__error {
  color: #e53e3e;
  font-weight: 400;
  padding-top: 1rem;
}
.auth-form__input--error {
  background: rgba(229, 62, 62, 0.3);
  border-color: #e53e3e;
}
.auth-form__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.auth-form__next-form {
  background: transparent;
  color: #753ee0;
  border: 2px solid #753ee0;
  border-radius: 2px;
  font-weight: 400;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 1rem;
}
.auth-form__next-form:hover {
  box-shadow: inset -2px 2px 0px 0px #b496ee;
  border-color: #753ee0;
  color: #753ee0;
}
.auth-form__next-form:active {
  box-shadow: 2px 2px 0px 0px #b496ee;
  border-color: #753ee0;
  color: #753ee0;
}
.auth-form__next-form:disabled {
  box-shadow: 0 0 0px 0px #b496ee;
  border-color: #d3c2f5;
  color: #d3c2f5;
}
.auth-form__submit {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  justify-self: right;
  max-width: max-content;
}
.auth-form__submit:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
}
.auth-form__submit:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
}
.auth-form__submit:disabled {
  background: #d3c2f5;
  border: 2px solid transparent;
  margin: -2px;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: var(--light-bg-400);
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  border-top: 1px solid var(--light-bg-700);
  color: var(--font-dark-600);
}
.menu__item {
  font-size: 2.1rem;
  background: transparent;
  border: none;
}
.menu__item--link {
  color: inherit;
}

.container-theme {
  width: 50px;
  background: #d9d9d9;
  height: 20px;
  padding: 0 2px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin: 2rem;
}

.circle-theme {
  background: #333;
  width: 17px;
  height: 17px;
  border-radius: 100px;
}

.container-theme-disabled {
  justify-content: flex-start;
}

.container-theme--active {
  background: #753ee0;
  justify-content: flex-end;
}

.blurred__options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas: "center";
  z-index: 3;
}
.blurred__blurred-bg {
  background-color: rgba(var(--secondary-bg-600), 0.8);
  z-index: 2;
  width: 100vw;
  height: 100vh;
  grid-area: center;
}
.blurred__option {
  border: 1px solid var(--light-bg-700);
  min-width: 350px;
  max-width: 450px;
  grid-area: center;
  background: var(--light-bg-500);
  align-self: center;
  justify-self: center;
  padding: 2rem;
  border-radius: 3px;
  z-index: 3;
}

.comment {
  background: var(--light-bg-500);
  margin-top: 2rem;
  color: var(--font-dark-600);
  border-bottom: 1px solid var(--light-bg-700);
}
.comment__author {
  display: flex;
  align-items: center;
}
.comment__author-name {
  font-size: 1.4rem;
  font-weight: 600;
}
.comment__author-image {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.comment__action {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.comment__date {
  margin-left: 1rem;
  font-size: 1.4rem;
}
.comment__content {
  font-size: 1.4rem;
  margin: 0.7rem 2px;
}
.comment__btn {
  background: transparent;
  border: none;
  padding: 0;
  color: inherit;
}
.comment .fa-star {
  color: inherit;
}
.comment__likes {
  margin: 0 0 0 0.5rem;
}
.comment__container-likes {
  font-size: 1.6rem;
  color: var(--font-dark-600);
}

.comment:last-child {
  margin-bottom: 9rem;
}

.comment--last:last-child {
  margin-bottom: 2rem;
}

.comment--last:first-child {
  margin-top: 0;
}

.post {
  background: var(--light-bg-600);
  max-width: 401px;
  width: 100%;
  margin-bottom: 2rem;
  border-top: 1px solid var(--light-bg-700);
  border-bottom: 1px solid var(--light-bg-700);
}
.post__headline {
  margin: 3rem 0;
  margin-left: 2px;
  font-size: 1.6rem;
  overflow-wrap: break-word;
}
.post__image-container {
  width: 100%;
  height: auto;
}
.post__image {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
}
.post__author {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  padding-top: 2rem;
}
.post__author-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-dark-600);
  margin: 0;
  font-size: 1.4rem;
}
.post__image-author {
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}
.post__content {
  padding: 0 1rem;
}
.post__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__info {
  color: var(--font-dark-400);
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}
.post__category-name {
  font-weight: 500;
  color: var(--font-dark-600);
}
.post__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 1rem;
  color: var(--font-dark-600);
}
.post__container-likes {
  display: flex;
  align-items: center;
}
.post__btn {
  border: none;
  background-color: transparent;
  font-size: 2.1rem;
  padding: 0;
  color: inherit;
}
.post__comments--count {
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 1rem 0 1rem;
  border-top: 1px solid var(--light-bg-700);
}
.post__comments-text {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--font-dark-600);
}
.post__comments-total {
  color: #753ee0;
  font-weight: 700;
}
.post__likes {
  margin: 0 0.5rem;
  padding-top: 0.25rem;
  font-size: 1.6rem;
  color: inherit;
  font-weight: 500;
}
.post__wrapper {
  background: var(--light-bg-600);
  margin: 2rem 0;
  padding: 1rem;
}
.post__container-input {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}
.post__input {
  width: 100%;
  border: 1px solid var(--light-bg-700);
  border-radius: 100rem;
  background: transparent;
  padding: 1rem;
  font-size: 1.2rem;
}
.post__input::placeholder {
  color: var(--font-dark-600);
}
.post__top-comment {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--font-dark-400);
  margin-top: 2rem;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
}
.post__top-author {
  font-weight: 500;
}
.post .fa-star {
  color: inherit;
  font-size: 2.1rem;
}
.post__single-action {
  font-size: 1.4rem;
  margin: 0 0.5rem;
  color: var(--font-dark-600);
}
.post__single-action .fa-share {
  font-size: 1.4rem;
  margin-left: 0.3rem;
}
.post__count-comments {
  margin-right: 0.3rem;
}
.post__share-info {
  font-size: 1.4rem;
  color: var(--font-dark-600);
  margin-left: 2px;
}
.post__link {
  font-size: 1.2rem;
  color: var(--font-dark-400);
  word-wrap: break-word;
  border-radius: 100px;
  margin: 0;
  padding: 0;
}
.post__btn-copy {
  display: block;
  margin-top: 2rem;
  background-color: #753ee0;
  border: none;
  color: var(--font-light-300);
  font-size: 1.2rem;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}
.post__btn-copy .fa-copy {
  margin-left: 0.5rem;
}
.post__btn-copy:active {
  transform: scale(1.1);
}
.post__container-link {
  background-color: var(--light-bg-600);
  padding: 1rem;
}
.post__container-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.post__container-shared {
  margin-top: 2rem;
}
.post__shared-error {
  color: var(--font-dark-300);
  text-align: center;
  font-size: 1.6rem;
}
.post__shared-container-links {
  text-align: center;
}
.post__shared-link {
  margin: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #753ee0;
  text-align: center;
}
.post__shared-text {
  color: var(--font-dark-400);
  font-size: 1.6rem;
  margin: 1rem;
}
.post__shared-comments {
  padding: 1rem;
  font-size: 2.1rem;
}

.post:last-child {
  margin-bottom: 10rem;
}

.post__mBottom:last-child {
  margin-bottom: 3rem;
}

.comments {
  background: var(--light-bg-500);
  z-index: 5;
  height: 75vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  border-radius: 10px 10px 0 0;
}
.comments__container {
  padding: 1rem;
}
.comments__container-input {
  width: 100%;
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--light-bg-500);
  padding: 1rem;
}
.comments__input {
  width: 100%;
  padding: 0.7rem;
  border: 2px solid #753ee0;
  color: var(--font-dark-600);
  font-size: 1.4rem;
  background: var(--light-bg-600);
}
.comments__publish {
  background-color: #753ee0;
  border: none;
  color: var(--font-dark-600);
  font-size: 1.2rem;
}
.comments__close-btn {
  font-size: 2.1rem;
  background-color: transparent;
  color: var(--font-dark-600);
  border: none;
}
.comments__icon {
  color: inherit;
}
.comments__header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-bg-600);
  border-top: 2px solid #753ee0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.comments__filter-text {
  color: var(--font-dark-600);
  font-size: 1.4rem;
}
.comments__filter-container {
  display: flex;
  align-items: center;
}
.comments__filter {
  margin-left: 1rem;
  background-color: transparent;
  color: var(--font-dark-600);
  border: 1px solid #753ee0;
  padding: 0.5rem;
}
.comments__filter-option {
  background-color: var(--light-bg-600);
}
.comments__info {
  color: var(--font-dark-300);
  font-size: 1.6rem;
  text-align: center;
}
.comments__message {
  color: #e53e3e;
  text-align: center;
  flex: 1;
  font-size: 1.2rem;
}
.comments__emoji {
  background: transparent;
  border: none;
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-dark-600);
  font-size: 1.4rem;
}

.comments-shared .comments__close-btn {
  display: none;
}
.comments-shared .comments__header {
  border: none;
  z-index: 1;
  background: transparent;
  position: static;
}
.comments-shared .comments__container-input {
  position: static;
  transform: none;
  margin-bottom: 5rem;
}

.emoji-picker-react .emoji-group:before {
  background: var(--light-bg-700);
  padding-left: 1rem;
}

.auth {
  height: 100vh;
}
@media (min-width: 768px) {
  .auth {
    display: flex;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-vector/social-tree-concept-illustration_114360-4898.jpg?size=338&ext=jpg&ga=GA1.2.1424524701.1621555200");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.auth__main {
  margin: 0 1rem;
  height: 100%;
  display: grid;
  place-content: center;
}
@media (min-width: 768px) {
  .auth__main {
    background: var(--light-bg-500);
    padding: 0 2rem;
  }
}
.auth__header {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
}
.auth__sub-headline {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  padding-bottom: 2.5rem;
  color: var(--font-dark-600);
  font-weight: 300;
}
.auth__form-link {
  text-align: center;
  font-size: 1.6rem;
  color: var(--font-dark-600);
  font-weight: 500;
}
.auth__form-next {
  cursor: pointer;
  color: #753ee0;
}
.auth__message {
  text-align: center;
  font-size: 1.2rem;
  color: #e53e3e;
  margin: 2rem 0;
}

[data-value=dark] {
  --secondary-bg-100: #919191;
  --secondary-bg-200: #787878;
  --secondary-bg-300: #6b6b6b;
  --secondary-bg-400: #525252;
  --secondary-bg-500: #fff;
  --secondary-bg-600: 34, 40, 49;
  --secondary-bg-700: #e4e4e4;
  --secondary-bg-800: #b9b8ba;
  --light-bg-400: #29292b;
  --light-bg-500: #1a1a1c;
  --light-bg-600: #212122;
  --light-bg-550: #212122;
  --light-bg-700: #3d3d3f;
  --light-bg-800: #020203;
  --font-dark-300: #b6b6b4;
  --font-dark-400: #cfcfc9;
  --font-dark-500: #eaeae7;
  --font-dark-600: #f8f8f8;
  --font-dark-700: #fdfcfc;
  --font-light-400: #737186;
  --font-light-300: #f8f8f8;
  --font-light-200: #36344b;
}

[data-value=light] {
  --secondary-bg-100: #919191;
  --secondary-bg-200: #787878;
  --secondary-bg-300: #6b6b6b;
  --secondary-bg-400: #525252;
  --secondary-bg-500: #414141;
  --secondary-bg-600: 34, 40, 49;
  --secondary-bg-700: #0d0f12;
  --secondary-bg-800: #020203;
  --light-bg-400: #fff;
  --light-bg-500: #fff;
  --light-bg-550: #fff;
  --light-bg-600: #f9f9f9;
  --light-bg-700: #e4e4e4;
  --light-bg-800: #b9b8ba;
  --font-dark-300: #908ea7;
  --font-dark-400: #737186;
  --font-dark-500: #58556d;
  --font-dark-600: #36344b;
  --font-dark-700: #222831;
  --font-light-400: #cfcfc9;
  --font-light-300: #eaeae7;
  --font-light-200: #f8f8f8;
}

/*# sourceMappingURL=main.css.map */
