html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  background: var(--light-bg-500);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-dark-600);
  font-weight: 500;
  margin: 1rem 0;
}

h1 {
  font-size: 3.7rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.9rem;
}

.header {
  background-color: var(--light-bg-400);
  border-bottom: 1px solid var(--light-bg-700);
  padding: 1rem;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 2rem;
  z-index: 3;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__message {
  margin: 0;
}
.header__nav-button {
  border: none;
  border-radius: 100rem;
  background: transparent;
  color: var(--font-dark-600);
  font-size: 2.1rem;
}
.header__nav-button .fa-bell {
  color: inherit;
}
.header__menu {
  background-color: var(--light-bg-500);
  border-bottom: 2px solid #753ee0;
  min-height: 450px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  color: var(--font-dark-600);
  padding: 1rem;
}
.header__section {
  font-size: 1.4rem;
  margin-top: 3rem;
}
.header__heading-section {
  font-size: 1.6rem;
  color: var(--font-dark-300);
}
.header__heading-main {
  font-size: 2.1rem;
}
.header__heading-main::first-letter {
  color: #753ee0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__close {
  background-color: #753ee0;
  border: none;
  color: var(--font-light-300);
  font-size: 1.4rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.header__marked {
  color: #753ee0;
}
.header__container-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header__link {
  background-color: #753ee0;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: var(--font-light-300);
}
.header__link--empty {
  background-color: transparent;
  color: var(--font-dark-600);
  border: 1px solid #753ee0;
}

.container-theme {
  width: 50px;
  background: #d9d9d9;
  height: 20px;
  padding: 0 2px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.circle-theme {
  background: #333;
  width: 17px;
  height: 17px;
  border-radius: 100px;
}

.container-theme-disabled {
  justify-content: flex-start;
}

.container-theme--active {
  background: #753ee0;
  justify-content: flex-end;
}

.auth-form {
  display: grid;
  align-content: center;
  width: 350px;
  margin-bottom: 2rem;
}
.auth-form__wrapper {
  margin-bottom: 3rem;
  position: relative;
}
.auth-form__label {
  color: var(--font-dark-600);
  position: absolute;
  pointer-events: none;
  transition: 400ms;
}
.auth-form__input {
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border: 2px solid #753ee0;
  border-radius: 3px;
  background: var(--light-bg-550);
  color: var(--font-dark-600);
}
.auth-form__error {
  color: #e53e3e;
  font-weight: 400;
  padding-top: 1rem;
}
.auth-form__input--error {
  background: rgba(229, 62, 62, 0.3);
  border-color: #e53e3e;
}
.auth-form__btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.auth-form__next-form {
  background: transparent;
  color: #753ee0;
  border: 2px solid #753ee0;
  border-radius: 2px;
  font-weight: 400;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 1rem;
}
.auth-form__next-form:hover {
  box-shadow: inset -2px 2px 0px 0px #b496ee;
  border-color: #753ee0;
  color: #753ee0;
  cursor: pointer;
}
.auth-form__next-form:active {
  box-shadow: 2px 2px 0px 0px #b496ee;
  border-color: #753ee0;
  color: #753ee0;
  cursor: pointer;
}
.auth-form__next-form:disabled {
  box-shadow: 0 0 0px 0px #b496ee;
  border-color: #d3c2f5;
  color: #d3c2f5;
  cursor: not-allowed;
}
.auth-form__submit {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  justify-self: right;
  max-width: max-content;
}
.auth-form__submit:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.auth-form__submit:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.auth-form__submit:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: var(--light-bg-400);
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  border-top: 1px solid var(--light-bg-700);
  color: var(--font-dark-600);
}
.menu__item {
  font-size: 2.1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu__item--link {
  text-decoration: none;
  color: var(--font-dark-600);
}
.menu .fa-home,
.menu .fa-comment-dots,
.menu .fa-plus,
.menu .fa-bell,
.menu .fa-user {
  color: inherit;
}

.circle-menu {
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, transparent 48%, var(--light-bg-500) 48% 53%);
  padding: 1rem 0;
  position: absolute;
  border-radius: 10rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--light-bg-700);
}

.circle-backface {
  background-color: #753ee0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10rem;
}

.blurred {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  z-index: 20;
  background-color: rgba(var(--secondary-bg-600), 0.8);
}
.blurred__content {
  width: clamp(1500px, fit-content, 80vw);
  border: 1px solid var(--light-bg-700);
}
.blurred__option {
  border: 1px solid var(--light-bg-700);
  min-width: 350px;
  background: var(--light-bg-500);
  padding: 2rem;
  border-radius: 3px;
}

.comment {
  background: var(--light-bg-500);
  margin-top: 2rem;
  color: var(--font-dark-600);
  border-bottom: 1px solid var(--light-bg-700);
  position: relative;
}
.comment__container-dots {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--font-dark-600);
  font-size: 1.6rem;
}
.comment__author {
  display: flex;
  align-items: center;
}
.comment__author-name {
  font-size: 1.4rem;
  font-weight: 600;
}
.comment__author-image {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.comment__action {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.comment__date {
  margin-left: 1rem;
  font-size: 1.4rem;
}
.comment__content {
  font-size: 1.4rem;
  margin: 0.7rem 2px;
}
.comment__btn {
  background: transparent;
  border: none;
  padding: 0;
  color: inherit;
}
.comment .fa-star {
  color: inherit;
}
.comment__likes {
  margin: 0 0 0 0.5rem;
}
.comment__container-likes {
  font-size: 1.6rem;
  color: var(--font-dark-600);
}
.comment__container-dots-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem 2px;
  background-color: var(--light-bg-700);
  margin-right: 5px;
}
.comment__action-dot {
  background-color: transparent;
  display: block;
  border: none;
  font-size: 1.4rem;
  color: var(--font-dark-600);
  margin-top: 1rem;
}
.comment__action--delete {
  color: #e53e3e;
}
.comment__information {
  text-align: center;
  margin-top: 2rem;
  color: var(--font-dark-300);
  font-size: 1.4rem;
}

.comment:last-child {
  margin-bottom: 9rem;
}

.comment--last:first-child {
  margin-top: 0;
}

.category {
  margin: 2rem 0;
  border: 1px solid var(--secondary-bg-200);
  border-radius: 5px 5px 0 0;
}
.category__search {
  position: relative;
  cursor: pointer;
}
.category__search-input {
  width: 100%;
  background: var(--light-bg-550);
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  border: none;
  border-bottom-color: var(--secondary-bg-300);
  border-bottom-style: solid;
  font-size: 1.6rem;
  color: var(--font-dark-600);
  font-weight: 400;
}
.category__search--open {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  border: transparent;
  color: var(--font-dark-600);
  font-size: 1.6rem;
}
.category__search--open .fa-chevron-down {
  color: inherit;
}
.category__description-wrapper {
  margin: 0.5rem 1rem;
  overflow-y: scroll;
  max-height: 150px;
}
.category__placeholder-input {
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.category__description {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
}
.category__description-item {
  color: var(--font-dark-600);
  font-size: 1.2rem;
}
.category__name {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.category__user--desc {
  margin: 1rem 0;
  color: var(--font-dark-300);
  font-size: 1.2rem;
  font-weight: 500;
}
.category__item {
  margin-bottom: 2rem;
}
.category__item:last-child {
  margin-bottom: 1rem;
}
.category__user {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--secondary-bg-300);
}
.category__other {
  padding: 0.5rem 1rem;
}
.category__count {
  color: var(--font-dark-300);
}
.category__custom-margin {
  margin: 1rem;
}

.create-post {
  display: flex;
  flex-flow: column;
}
.create-post__title {
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--secondary-bg-300);
  border-radius: 3px;
  background: var(--light-bg-550);
  color: var(--font-dark-600);
}
.create-post__file-input {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
}
.create-post__message {
  color: #e53e3e;
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
}
.create-post__btn-add {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  align-self: flex-end;
}
.create-post__btn-add:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.create-post__btn-add:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.create-post__btn-add:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}
.create-post__label {
  position: relative;
}
.create-post__btn-emoji {
  top: 50%;
  right: -0.5rem;
  background-color: transparent;
  border: none;
  color: var(--font-dark-600);
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.4rem;
}

.crop-image__preview-canvas {
  max-width: 100%;
  max-height: 100%;
}
.crop-image__controls-wrapper {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.crop-image__aspect--action {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-size: 1.4rem;
  border-radius: 100rem;
  padding: 0.4rem 1rem;
}
.crop-image__aspect--action:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.crop-image__aspect--action:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.crop-image__aspect--action:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}
.crop-image__info {
  text-align: center;
  color: var(--font-dark-600);
  font-size: 1.4rem;
}
.crop-image__text {
  font-size: 1.4rem;
  color: var(--font-dark-600);
}
.crop-image__pseudo-btn {
  color: #753ee0;
  font-weight: 500;
}
.crop-image__drag-drop {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px dashed var(--secondary-bg-300);
  border-radius: 3px;
  margin-bottom: 2rem;
}
.crop-image__canvas {
  position: relative;
}
.crop-image__open--crop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  padding: 0.5rem 0.5rem 1.5rem 1.5rem;
  background: var(--secondary-bg-500);
  border: none;
  border-radius: 0 0 0 10rem;
}
.crop-image__open--crop .fa-crop-alt {
  font-size: 2.1rem;
  color: var(--font-light-100);
}
.crop-image__buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.crop-image__btn {
  background: transparent;
  color: var(--font-dark-600);
  border: 2px solid #753ee0;
  border-radius: 2px;
  font-weight: 400;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  font-size: 1.4rem;
  margin: 0;
  padding: 0.5rem;
}
.crop-image__btn:hover {
  box-shadow: inset -2px 2px 0px 0px #b496ee;
  border-color: #753ee0;
  color: #753ee0;
  cursor: pointer;
}
.crop-image__btn:active {
  box-shadow: 2px 2px 0px 0px #b496ee;
  border-color: #753ee0;
  color: #753ee0;
  cursor: pointer;
}
.crop-image__btn:disabled {
  box-shadow: 0 0 0px 0px #b496ee;
  border-color: #d3c2f5;
  color: #d3c2f5;
  cursor: not-allowed;
}
.crop-image__btn--full {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
}
.crop-image__btn--full:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.crop-image__btn--full:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.crop-image__btn--full:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}

.skeleton {
  opacity: 0.7;
  animation: loading 1.5s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 6px;
  margin-bottom: 2px;
  border-radius: 12px;
}

.skeleton-text:last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes loading {
  0% {
    background: #a3b8c2;
  }
  100% {
    background: #f0f3f5;
  }
}
.btn {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  background: transparent;
  color: var(--font-dark-600);
  border: 1px solid #753ee0;
}
.btn:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.btn:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.btn:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}

.textarea {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light-bg-600);
}
.textarea__message {
  text-align: center;
  flex: 1;
  color: #e53e3e;
  font-size: 1.4rem;
  font-weight: 500;
}
.textarea__wrapper {
  display: flex;
  padding: 1rem;
  color: var(--font-dark-300);
}
.textarea__wrapper:focus-within, .textarea__wrapper:focus-within ~ .textarea__publish {
  color: #753ee0;
}
.textarea__input:focus {
  border: 1px solid #753ee0;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
}
.textarea__input::placeholder {
  font-size: 1.2rem;
}
.textarea__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 1rem;
  background: var(--light-bg-700);
  border-radius: 21px;
}
.textarea__emoji {
  align-self: end;
  background: transparent;
  border: transparent;
  color: inherit;
  font-size: 2.1rem;
  padding: 1rem;
}
.textarea__input {
  border: none;
  width: 100%;
  resize: none;
  background: transparent;
  padding: 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  line-height: 21px;
  color: var(--font-dark-600);
  outline: none;
}
.textarea__publish {
  align-self: center;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 2.1rem;
}
.textarea__publish .fa-location-arrow {
  transform: scaleY(1.5) rotate(45deg);
}
.textarea__avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100rem;
  align-self: center;
}

.post {
  background: var(--light-bg-600);
  max-width: 401px;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
  border-top: 1px solid var(--light-bg-700);
  border-bottom: 1px solid var(--light-bg-700);
}
.post__container-dots {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--font-dark-600);
  font-size: 1.6rem;
}
.post__container-dots-btn {
  background: transparent;
  border: none;
  color: var(--font-dark-600);
}
.post__container-dots-btn .fa-ellipsis-v {
  color: inherit;
}
.post__headline {
  margin: 3rem 0;
  margin-left: 2px;
  font-size: 1.6rem;
  overflow-wrap: break-word;
}
.post__top-date {
  margin-left: 0.7rem;
}
.post__top-text {
  margin-left: 1rem;
}
.post__image-container {
  width: 100%;
  height: auto;
}
.post__image {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
}
.post__author {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  padding-top: 2rem;
}
.post__author-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--font-dark-600);
  margin: 0;
  font-size: 1.4rem;
}
.post__author-link {
  text-decoration: none;
  color: inherit;
}
.post__image-author {
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}
.post__content {
  padding: 0 1rem;
}
.post__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__info {
  color: var(--font-dark-400);
  margin: 0;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}
.post__category-name {
  font-weight: 500;
  color: var(--font-dark-600);
}
.post__container-dots-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 2px;
  background-color: var(--light-bg-700);
  margin-right: 5px;
}
.post__container-dots-actions .fa-flag,
.post__container-dots-actions .fa-ban,
.post__container-dots-actions .fa-edit,
.post__container-dots-actions .fa-trash-alt {
  margin-left: 0.5rem;
}
.post__action {
  background-color: transparent;
  display: block;
  border: none;
  font-size: 1.4rem;
  color: var(--font-dark-600);
  margin-top: 1rem;
}
.post__action--delete {
  color: #e53e3e;
}
.post__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 1rem;
  color: var(--font-dark-600);
}
.post__container-likes {
  display: flex;
  align-items: center;
}
.post__btn {
  border: none;
  background-color: transparent;
  font-size: 2.1rem;
  padding: 0;
  color: inherit;
}
.post__comments--count {
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 1rem 0 1rem;
  border-top: 1px solid var(--light-bg-700);
}
.post__comments-text {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--font-dark-600);
}
.post__comments-total {
  color: #753ee0;
  font-weight: 700;
}
.post__likes {
  margin: 0 0.5rem;
  padding-top: 0.25rem;
  font-size: 1.6rem;
  color: inherit;
  font-weight: 500;
}
.post__wrapper {
  background: var(--light-bg-600);
  margin: 2rem 0;
  padding: 1rem;
}
.post__container-input {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}
.post__input {
  width: 100%;
  border: 1px solid var(--light-bg-700);
  border-radius: 100rem;
  background: transparent;
  padding: 1rem;
  font-size: 1.2rem;
}
.post__input::placeholder {
  color: var(--font-dark-600);
}
.post__top-comment {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--font-dark-400);
  margin-top: 2rem;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
}
.post__top-author {
  font-weight: 500;
}
.post .fa-star {
  color: inherit;
  font-size: 2.1rem;
}
.post__single-action {
  font-size: 1.4rem;
  margin: 0 0.5rem;
  color: var(--font-dark-600);
}
.post__single-action .fa-share {
  font-size: 1.4rem;
  margin-left: 0.3rem;
}
.post__count-comments {
  margin-right: 0.3rem;
}
.post__share-info {
  font-size: 1.4rem;
  color: var(--font-dark-600);
  margin-left: 2px;
}
.post__link {
  font-size: 1.2rem;
  color: var(--font-dark-400);
  word-wrap: break-word;
  border-radius: 100px;
  margin: 0;
  padding: 0;
}
.post__btn-copy {
  display: block;
  margin-top: 2rem;
  background-color: #753ee0;
  border: none;
  color: var(--font-light-300);
  font-size: 1.2rem;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
}
.post__btn-copy .fa-copy {
  margin-left: 0.5rem;
}
.post__btn-copy:active {
  transform: scale(1.1);
}
.post__container-link {
  background-color: var(--light-bg-600);
  padding: 1rem;
}
.post__container-socials {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.post__container-shared {
  margin-top: 2rem;
}
.post__shared-error {
  color: var(--font-dark-300);
  text-align: center;
  font-size: 1.6rem;
}
.post__shared-container-links {
  text-align: center;
}
.post__shared-link {
  margin: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  color: #753ee0;
  text-align: center;
}
.post__shared-text {
  color: var(--font-dark-400);
  font-size: 1.6rem;
  margin: 1rem;
}
.post__shared-comments {
  padding: 1rem;
  font-size: 2.1rem;
}
.post__edit-input-container {
  margin-top: 2rem;
  text-align: right;
}
.post__edit-input {
  width: 100%;
  padding: 1rem 0.5rem;
  color: var(--font-dark-600);
  margin-bottom: 1rem;
  font-size: 1.4rem;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--light-bg-700);
}
.post__edit-input:focus {
  border: 2px solid #753ee0;
}
.post__edit-button {
  border: none;
  background: transparent;
  color: var(--font-dark-300);
  font-size: 1.2rem;
}
.post__edit-button--edit::first-letter {
  color: #753ee0;
}
.post__edit-message {
  margin-right: 2rem;
  color: #e53e3e;
  opacity: 0.9;
}

.post:last-child {
  margin-bottom: 10rem;
}

.post__mBottom:last-child {
  margin-bottom: 3rem;
}

.comments {
  background: var(--light-bg-500);
  z-index: 5;
  height: 75vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  border-radius: 10px 10px 0 0;
}
.comments__container {
  padding: 1rem;
}
.comments__close-btn {
  font-size: 2.1rem;
  background-color: transparent;
  color: var(--font-dark-600);
  border: none;
}
.comments__icon {
  color: inherit;
}
.comments__header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-bg-600);
  border-top: 2px solid #753ee0;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.comments__filter {
  position: relative;
}
.comments__filter-text {
  color: var(--font-dark-600);
  font-size: 1.4rem;
}
.comments__current-filter {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--light-bg-700);
  background: var(--light-bg-500);
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
  width: 20ch;
}
.comments__filter-list {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 20ch;
  z-index: 10;
}
.comments__filter-item {
  background: var(--light-bg-500);
  color: var(--font-dark-600);
  text-align: start;
  padding: 1rem;
  font-size: 1.4rem;
  width: 100%;
  border: none;
  border-left: 1px solid var(--light-bg-700);
  border-right: 1px solid var(--light-bg-700);
  cursor: pointer;
}
.comments__filter-item:last-child {
  border-bottom: 1px solid var(--light-bg-700);
}
.comments__filter-item:hover {
  background: var(--light-bg-700);
}
.comments__filter-text::first-letter {
  text-transform: uppercase;
}
.comments__toggle-filter {
  border: none;
  background: transparent;
  margin-left: 1rem;
  color: var(--font-dark-600);
  font-size: 1.6rem;
}
.comments__toggle-filter .fa-chevron-down,
.comments__toggle-filter .fa-chevron-up {
  font-size: inherit;
  color: inherit;
}
.comments__info {
  color: var(--font-dark-300);
  font-size: 1.6rem;
  text-align: center;
}

.comments-shared .comments__close-btn {
  display: none;
}
.comments-shared .comments__header {
  border: none;
  z-index: 1;
  background: transparent;
  position: static;
}
.comments-shared .comments__container-input {
  position: static;
  transform: none;
  margin-bottom: 5rem;
}

.emoji-picker-react .emoji-group:before {
  background: var(--light-bg-700);
  padding-left: 1rem;
}

.auth {
  height: 100vh;
}
@media (min-width: 768px) {
  .auth {
    display: flex;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-vector/social-tree-concept-illustration_114360-4898.jpg?size=338&ext=jpg&ga=GA1.2.1424524701.1621555200");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.auth__main {
  margin: 0 1rem;
  height: 100%;
  display: grid;
  place-content: center;
}
@media (min-width: 768px) {
  .auth__main {
    background: var(--light-bg-500);
    padding: 0 2rem;
  }
}
.auth__header {
  display: flex;
  flex-flow: column;
  align-self: flex-end;
}
.auth__sub-headline {
  font-size: 1.6rem;
  margin: 0.5rem 0;
  padding-bottom: 2.5rem;
  color: var(--font-dark-600);
  font-weight: 300;
}
.auth__form-link {
  text-align: center;
  font-size: 1.6rem;
  color: var(--font-dark-600);
  font-weight: 500;
}
.auth__form-next {
  cursor: pointer;
  color: #753ee0;
}
.auth__message {
  text-align: center;
  font-size: 1.4rem;
  margin: 2rem auto;
  line-height: 2rem;
  max-width: 40ch;
}
.auth__message--accepted {
  color: #53c245;
}
.auth__message--refused {
  color: #e53e3e;
}

.account {
  padding: 1rem;
}
.account__container-avatar {
  text-align: center;
}
.account__image {
  border-radius: 1rem;
  width: 30%;
}
.account__user-information {
  text-align: center;
}
.account__name {
  font-weight: bold;
}
.account__actions {
  margin-top: 4rem;
}
.account__section {
  background-color: var(--light-bg-600);
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid var(--light-bg-700);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 2rem 1fr 7rem;
  justify-items: start;
  align-items: center;
  text-decoration: none;
}
.account__heading {
  color: var(--font-dark-600);
  font-size: 1.4rem;
  font-weight: bold;
}
.account__description {
  font-size: 1.2rem;
  color: var(--font-dark-300);
  opacity: 0.9;
}
.account__description, .account__heading {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}
.account__logout {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--font-dark-600);
  font-weight: bold;
  padding: 0;
}
.account .fa-chevron-right {
  justify-self: end;
  font-size: 1.2rem;
  color: var(--font-dark-600);
}
.account .fa-headphones,
.account .fa-pen,
.account .fa-user,
.account .fa-flag,
.account .fa-sign-out-alt,
.account .fa-book {
  font-size: 1.4rem;
  color: var(--font-dark-600);
}

.categories__headline {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.1rem;
}
.categories__container-input {
  padding: 1rem;
}
.categories__input {
  width: 100%;
  color: var(--font-dark-600);
  padding: 1.2rem 1rem;
  background: var(--light-bg-600);
  border: 1px solid #753ee0;
  font-size: 1.4rem;
}
.categories__input::placeholder {
  font-size: 1.4rem;
}
.categories__container {
  padding: 1rem;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  border-bottom: 2px solid var(--light-bg-700);
}
.categories__single-category {
  background: var(--light-bg-600);
  color: var(--font-dark-600);
  margin: 1rem;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.4rem;
  min-width: 15rem;
  max-width: 20rem;
  border-radius: 1rem;
}
.categories__total {
  font-size: 1.2rem;
  color: var(--font-dark-300);
}
.categories__btn {
  background: transparent;
  color: #753ee0;
  border: none;
}
.categories__posts {
  margin-top: 4rem;
}

.profile__user {
  background: linear-gradient(to bottom, transparent 30%, var(--light-bg-600) 30% 70%);
  text-align: center;
  padding: 1rem 0;
}
.profile__image {
  width: 13rem;
  height: 11rem;
  border-radius: 1rem;
}
.profile__name {
  color: var(--font-dark-600);
  font-weight: bold;
  font-size: 1.6rem;
}
.profile__date, .profile__total {
  font-size: 1.2rem;
  color: var(--font-dark-600);
}
.profile__choice {
  border-top: 2px solid var(--light-bg-700);
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__btn {
  margin-top: 1rem;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  color: var(--font-dark-600);
}
.profile__btn--active {
  border-bottom: 2px solid #753ee0;
}
.profile__comments {
  padding: 1rem;
}
.profile__add {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-size: 1.4rem;
  padding: 1rem;
}
.profile__add:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.profile__add:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.profile__add:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}
.profile__status {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem;
  background: #753ee0;
  margin: 0 1rem;
  display: inline-block;
}

.notifications__request {
  margin: 1rem 0;
  background: var(--light-bg-600);
  color: var(--font-dark-600);
  padding: 1rem 1.5rem;
  position: relative;
}
.notifications__requests--padding {
  padding: 0 1.5rem 1rem 1.5rem;
}
.notifications__view {
  display: flex;
  align-items: center;
}
.notifications__img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 10rem;
  margin-right: 1rem;
}
.notifications__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.notifications__btn {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin-right: 1rem;
  border: 2px solid #753ee0;
}
.notifications__btn:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.notifications__btn:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.notifications__btn:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}
.notifications__header {
  font-size: 1.4rem;
}
.notifications__date {
  font-size: 1.2rem;
  color: var(--font-dark-300);
  margin: 0;
}
.notifications__status {
  font-size: 1.2rem;
}
.notifications__btn--reject {
  background: transparent;
  color: var(--font-dark-600);
  border: 2px solid #753ee0;
}
.notifications .fa-ellipsis-v {
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.notifications__body {
  font-size: 1.2rem;
  margin: 0;
  color: var(--font-dark-300);
}
.notifications__action--lower {
  margin-top: 1rem;
}
.notifications__link {
  text-decoration: none;
  color: inherit;
}

.conversations__single {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--font-dark-600);
  background: var(--light-bg-600);
  margin-top: 1rem;
  padding: 1rem;
}
.conversations__img {
  max-width: 4rem;
  max-height: 4rem;
  border-radius: 10rem;
  margin-right: 1rem;
}
.conversations__friend-name {
  font-size: 1.4rem;
  margin: 0;
}
.conversations__last-msg {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: var(--font-dark-300);
}

.conversation {
  position: relative;
  min-height: 100vh;
  background-color: var(--light-bg-500);
}
.conversation__header {
  background-color: var(--light-bg-600);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.conversation__friend-name {
  margin-right: auto;
}
.conversation__container-text {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  display: flex;
  background: var(--light-bg-500);
  padding: 0 1rem;
  background-color: red;
}
.conversation__text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #753ee0;
  color: var(--font-dark-600);
  outline: none;
  font-size: 1.2rem;
  background-color: var(--light-bg-600);
}
.conversation__messages {
  overflow-y: scroll;
  font-size: 1.6rem;
  padding: 1rem;
}
.conversation__btn {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.conversation__btn:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.conversation__btn:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.conversation__btn:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}
.conversation__single-message {
  background-color: var(--light-bg-700);
  color: var(--font-dark-600);
  border-radius: 10px;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  max-width: 70%;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 0;
}
.conversation__author {
  background-color: #753ee0;
  margin-left: auto;
  color: var(--font-light-300);
}
.conversation__author-message {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 10rem;
  margin-right: 1rem;
}
.conversation__message-wrapper {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
}
.conversation .fa-arrow-left,
.conversation .fa-ellipsis-v {
  color: var(--font-dark-600);
  font-size: 1.6rem;
  max-width: 25px;
}
.conversation .fa-arrow-left {
  margin-right: 2rem;
}

.details__header {
  margin: 2rem 1rem;
}
.details__section {
  border-bottom: 1px solid var(--light-bg-700);
  max-width: 550px;
  margin: 0 auto;
}
.details__personal-section {
  padding: 1rem;
  background: var(--light-bg-600);
  color: var(--font-dark-600);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details__description {
  color: var(--font-dark-300);
  font-size: 1.2rem;
}
.details__value {
  margin-left: 2rem;
  font-size: 1.2rem;
}
.details__btn {
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  color: #753ee0;
  background: transparent;
  border: none;
}
.details__btn--close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.details__update-btn {
  background: #753ee0;
  color: var(--font-light-300);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}
.details__update-btn:hover {
  background: #471a9e;
  border: 2px solid #946ae7;
  margin: -2px;
  cursor: pointer;
}
.details__update-btn:active {
  background: #946ae7;
  border: 2px solid #471a9e;
  margin: -2px;
  cursor: pointer;
}
.details__update-btn:disabled {
  background: #d3c2f5;
  border: 2px solid;
  margin: -2px;
  cursor: not-allowed;
}
.details__popup {
  position: relative;
  background: var(--light-bg-600);
  padding: 1rem;
}

[data-value=dark] {
  --secondary-bg-100: #919191;
  --secondary-bg-200: #787878;
  --secondary-bg-300: #6b6b6b;
  --secondary-bg-400: #525252;
  --secondary-bg-500: #fff;
  --secondary-bg-600: 34, 40, 49;
  --secondary-bg-700: #e4e4e4;
  --secondary-bg-800: #b9b8ba;
  --light-bg-400: #29292b;
  --light-bg-500: #1a1a1c;
  --light-bg-600: #212122;
  --light-bg-550: #212122;
  --light-bg-700: #3d3d3f;
  --light-bg-800: #020203;
  --font-dark-300: #b6b6b4;
  --font-dark-400: #cfcfc9;
  --font-dark-500: #eaeae7;
  --font-dark-600: #f8f8f8;
  --font-dark-700: #fdfcfc;
  --font-light-400: #737186;
  --font-light-300: #f8f8f8;
  --font-light-200: #36344b;
  --font-light-100: #201f2b;
  --main-bg-500: #753ee0;
}

[data-value=light] {
  --secondary-bg-100: #919191;
  --secondary-bg-200: #787878;
  --secondary-bg-300: #6b6b6b;
  --secondary-bg-400: #525252;
  --secondary-bg-500: #414141;
  --secondary-bg-600: 34, 40, 49;
  --secondary-bg-700: #0d0f12;
  --secondary-bg-800: #020203;
  --light-bg-400: #fff;
  --light-bg-500: #fff;
  --light-bg-550: #fff;
  --light-bg-600: #f9f9f9;
  --light-bg-700: #e4e4e4;
  --light-bg-800: #b9b8ba;
  --font-dark-300: #908ea7;
  --font-dark-400: #737186;
  --font-dark-500: #58556d;
  --font-dark-600: #36344b;
  --font-dark-700: #222831;
  --font-light-400: #cfcfc9;
  --font-light-300: #eaeae7;
  --font-light-200: #f8f8f8;
  --main-bg-500: #753ee0;
}

/*# sourceMappingURL=main.css.map */
