$main-bg-100: #f2edfc;
$main-bg-200: #d3c2f5;
$main-bg-300: #b496ee;
$main-bg-400: #946ae7;
$main-bg-500: #753ee0;
$main-bg-600: #5a21ca;
$main-bg-700: #471a9e;
$main-bg-800: #331272;
$main-bg-900: #1f0b46;

// $complementary-bg-100: #ffeaaf;
// $complementary-bg-200: #ffea9a;
// $complementary-bg-300: #ffea90;
// $complementary-bg-400: #ffea85;
// $complementary-bg-500: #ffe150;
// $complementary-bg-600: #ffce1f;
// $complementary-bg-700: #ffce15;
// $complementary-bg-800: #ffce0b;

// $secondary-bg-100: #919191;
// $secondary-bg-200: #787878;
// $secondary-bg-300: #6b6b6b;
// $secondary-bg-400: #525252;
// $secondary-bg-500: #414141;
// $secondary-bg-600: #222831;
// $secondary-bg-700: #0d0f12;
// $secondary-bg-800: #020203;

// $light-bg-500: #fff;
// $light-bg-600: #f3f2f5;
// $light-bg-700: #e4e4e4;
// $light-bg-800: #b9b8ba;

// $font-dark-300: #908ea7;
// $font-dark-400: #737186;
// $font-dark-500: #58556d;
// $font-dark-600: #36344b;
// $font-dark-700: #222831;

// $font-light-400: #cfcfc9;
// $font-light-300: #eaeae7;
// $font-light-200: #f8f8f8;

$font-active-500: #753ee0;

$warning-300: rgba(229, 62, 62, 0.3);
$warning-350: #ffa1a1;
$warning-400: #f78989;
$warning-500: #e53e3e;
$warning-600: #e92525;
$pass-500: #53c245;
