// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$form-width: 350px;
$padding-around-post: 0 1rem;
$alpha: 0.8;
