[data-value='dark'] {
  --secondary-bg-100: #919191;
  --secondary-bg-200: #787878;
  --secondary-bg-300: #6b6b6b;
  --secondary-bg-400: #525252;
  --secondary-bg-500: #fff;
  --secondary-bg-600: 34, 40, 49;
  --secondary-bg-700: #e4e4e4;
  --secondary-bg-800: #b9b8ba;

  --light-bg-400: #29292b;
  --light-bg-500: #1a1a1c;
  --light-bg-600: #212122;
  --light-bg-550: #212122;
  --light-bg-700: #3d3d3f;

  --light-bg-800: #020203;

  --font-dark-300: #b6b6b4;
  --font-dark-400: #cfcfc9;
  --font-dark-500: #eaeae7;
  --font-dark-600: #f8f8f8;
  --font-dark-700: #fdfcfc;

  --font-light-400: #737186;
  --font-light-300: #f8f8f8;
  --font-light-200: #36344b;
  --font-light-100: #201f2b;
}

// dark-background: #161617
// dark-background: #1a1a1b
// dark-background: #494a4b
// dark-background: #818384
